<div class="body">
    <div class="khuyen_mai">
        <img src="images/tinnoibat/khuyenmai.png" alt="" class="khuyen_mai-img">
        <div class="khuyen_mai-slide_show">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img src="images/tinnoibat/layshow/tin1.webp" class="d-block w-100 img_khuyen_mai" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="images/tinnoibat/layshow/tin2.webp" class="d-block w-100 img_khuyen_mai" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/tinnoibat/layshow/tin3.webp" class="d-block w-100 img_khuyen_mai" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="cac_dong_san_pham_noi_bat">
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/apple-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Apple</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/samsung-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Samsung</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/oppo-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Oppo</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/xiaomi-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Xiaomi</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/realme-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Realme</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/nokia-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Nokia</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/masstel-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Masstel</p>
        </div>

        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/tainghe-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Tai nghe</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/sacduphong-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Sạc dự phòng</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/capsac-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Cáp sạc</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/oplung-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Ốp lưng</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/kinhcuongluc-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Kính cường lực</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/chuotmaytinh-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Chuột máy tính</p>
        </div>
        <div class="cac_dong_san_pham_noi_bat-item">
            <img src="images/logo/banphim-logo.jpg" alt="" class="cac_dong_san_pham_noi_bat-item-img">
            <p class="cac_dong_san_pham_noi_bat-item-ten">Bàn phím</p>
        </div>
    </div>
    <div class="dien_thoai_ban_chay">
        <div class="dien_thoai_ban_chay-header">
            <p class="dien_thoai_ban_chay-header-ten">Điện thoại bán chạy</p>
            <a href="" class="dien_thoai_ban_chay-header-link">Xem thêm sản phẩm <i class="fa-solid fa-angles-right"></i></a>
        </div>
        <div class="dien_thoai_ban_chay-sanpham">
            {{#each sanphams}}
            <div class="the_san_pham-item">
                <div class="the_san_pham-item-img-box">
                    <a href="/sanpham/{{this.masp}}">
                        <img src="../images/anh_chi_tiet/{{this.hangsx}}/{{this.anh}}/{{this.anh}}.jpg" alt="{{this.anh}}" class="the_san_pham-item-img">
                    </a>
                </div>
                <p class="the_san_pham-item-ten">
                    {{this.tensp}}
                </p>
                {{#if this.soluong}}
                <p class="the_san_pham-item-tinhtrang">
                    <i class="fa-solid fa-circle-check"></i> Còn hàng
                </p>
                {{else}}
                <p  class="the_san_pham-item-tinhtrang" style="color: red;">
                    <i class="fa-solid fa-circle-xmark"></i></i> Hết hàng
                </p>
                {{/if}}
                <p class="the_san_pham-item-gia ">
                    <span class="gia_format">{{this.giaban}}</span> VND
                </p>
               <div class="the_san_pham-item-btn">
                    <a href="/thanhtoan/muangay/{{this.masp}}"><button class="the_san_pham-item-btn-mua btn btn-danger">Mua ngay</button></a>
                    <a href="/giohang/themgiohang/{{this.masp}}"><button class="the_san_pham-item-btn-themgh btn btn-primary">Thêm giỏ hàng</button></a>
               </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="cam_ket">
        <div class="cam_ket-item">
            <img src="images/camket/hailong.jpg" alt="">
        </div>
        <div class="cam_ket-item">
            <img src="images/camket/chinhhang.jpg" alt="">
        </div>
        <div class="cam_ket-item">
            <img src="images/camket/chatluong.jpg" alt="">
        </div>
    </div>

</div>
