<div class="sanphams">
    <div class="sanphams--title">
        <p>Điện thoại Apple <span>(15 sản phẩm)</span></p>
    </div>
    <div class="sanphams--sanphams">
        <div class="sanphams-xemtheo">
            <select name="" id="">
                <option selected>Xem theo</option>
                <option value="desc">Giá giảm dần</option>
                <option value="asc">Giá tăng dần</option>
            </select>
        </div>
        <div class="sanphams-show">
            <div class="the_san_pham-item">
                <div class="the_san_pham-item-img-box">
                    <a href="/sanpham/{{this.masp}}">
                        <img src="../images/anh_chi_tiet/{{this.hangsx}}/{{this.anh}}/{{this.anh}}.jpg"
                            alt="{{this.anh}}" class="the_san_pham-item-img">
                    </a>
                </div>
                <p class="the_san_pham-item-ten">
                    {{this.tensp}}
                </p>
                {{#if this.soluongtrongkho}}
                <p class="the_san_pham-item-tinhtrang">
                    <i class="fa-solid fa-circle-check"></i> Còn hàng
                </p>
                {{else}}
                <p class="the_san_pham-item-tinhtrang" style="color: red;">
                    <i class="fa-solid fa-circle-xmark"></i></i> Hết hàng
                </p>
                {{/if}}
                <p class="the_san_pham-item-gia ">
                    <span class="gia_format">{{this.giaban}}</span> VND
                </p>
                <div class="the_san_pham-item-btn">
                    <a href="/thanhtoan/muangay/{{this.masp}}"><button
                            class="the_san_pham-item-btn-mua btn btn-danger">Mua
                            ngay</button></a>
                    <form class="form_them_gio_hang" action="/giohang/themgiohang">
                        <input type="text" name="masp" value="{{this.masp}}" hidden>
                        <button type="button" class="the_san_pham-item-btn-themgh btn btn-primary">Thêm giỏ
                            hàng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>