<p class="kho_title">
KHO LOOCSTORE
</p>
<div class="kho_table">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Màu</th>
                <th scope="col">Ram</th>
                <th scope="col">Rom</th>
                <th scope="col">SL kho</th>
                <th scope="col">SL bán</th>
                <th scope="col">Giá bán</th>
                <th scope="col">
                    <a href="../../quanly/{{masp}}/themmausanpham"><button type="button" class="btn btn-success">Thêm màu</button></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each kho}}
            <tr>
                <th scope="row">{{cong @index 1}}</th>
                <td><span>{{this.mausac}}</span></td>
                <td>{{this.ram}} GB</td>
                <td>{{this.rom}} GB</td>
                <td>{{this.soluong}} Cái</td>
                <td>{{this.soluongdaban}} Cái</td>
                <td><span class="gia_format">{{this.giaban}}</span> VND</td>
                <td>
                    <form method="post" action="../../quanly/capnhatkho">
                        <input name="masp" value="{{this.masp}}" hidden></input>
                        <input name="mamau" value="{{this.mamau}}" hidden></input>
                        <button type="submit" class="btn btn-warning">Cặp nhật</button>
                    </form>
                       
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<style>
    .kho_title{
        font-size: 30px;
        font-weight: 700;
        color: rgb(60, 60, 60);
        text-align: center;
        margin-top: 20px;
    }
    .kho_table{
        width: 1000px;
        margin: auto;
    }
</style>