<p class="quan_ly_don_hang-title">
    Quản lý đơn hàng
</p>
<div class="quan_ly_don_hang">
    <table class="table table-striped">
        <thead >
            <tr>
                <th scope="col" class="quan_ly_don_hang-stt">STT</th>
                <th scope="col" class="quan_ly_don_hang-tenkh">Tên khách hàng</th>
                <th scope="col" class="quan_ly_don_hang-sodt">Số ĐT</th>
                <th scope="col" class="quan_ly_don_hang-diachi">Địa chỉ</th>
                <th scope="col" class="quan_ly_don_hang-ngaydat">Ngày đặt</th>
                <th scope="col" class="quan_ly_don_hang-trangthai">Trạng thái</th>
                <th scope="col" class=" "></th>
            </tr>
        </thead>
        <tbody>
            {{#each donhangs}}
            <tr>
                <th scope="row">{{cong @index 1}}</th>
                <td>{{this.tenkh}}</td>
                <td>{{this.sodtkh}}</td>
                <td>{{this.diachigiaohang}}</td>
                <td>{{this.ngaydathang}}</td>
                <td class="quan_ly_don_hang-tinhtrang">
                    {{this.trangthai}}
                    <span class="cap_nhat_trang_thao">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    {{!-- Modal cặp nhặt trạng thái đơn hàng --}}
                    <div class="cap_nhat_trang_thao-modal d-none">
                        <form class="form_cap_nhat_trang_thao-modal" method="post" action="/quanly/donhang/capnhattrangthai/{{this._id}}" >
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trangthai" id="vanchuyen" value="van_chuyen">
                                <label class="form-check-label" for="vanchuyen">
                                    Vận chuyển
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trangthai" id="danggiaohang" value="dang_giao">
                                <label class="form-check-label" for="danggiaohang">
                                    Đang giao hàng
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trangthai" id="hoanthanh" value="hoan_thanh">
                                <label class="form-check-label" for="hoanthanh">
                                    Hoàn thành
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="dahuy" name="trangthai" value="da_huy">
                                <label class="form-check-label" for="dahuy">
                                    Đã huỷ
                                </label>
                            </div>
                            <div class="cap_nhat_trang_thao-modal--cap_nhat">
                                <button type="submi" class="btn btn-primary" id="btn_gui_cap_nhat_trang_thai">Cặp nhặt</button>
                            </div>
                        </form>
                        <span class="cap_nhat_trang_thao-modal--tat">
                            <button type="button" class="btn btn-light ml-2 px-2 py-0">x</button>
                        </span>
                    </div>
                </td>
                <td>
                    <a href="/quanly/donhang/quanlymotdonhang/{{this._id}}">
                        <button type="button" class="btn btn-primary">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </a>
                    <a href="" data-toggle="modal" data-target="#xoadonhang" data-id="{{this._id}}">
                        <button type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="xoadonhang" tabindex="-1" aria-labelledby="xoadonhangLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="xoadonhangLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá tài khoản này khỏi hệ thống?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <butto id="btnxoa" type="button" class="btn btn-danger">Xoá</button>
            </div>
        </div>
    </div>
</div>

<form method="post" action="" id="formxoa"></form>

<script>
    //Modal xac nhan coa don hang
    document.addEventListener("DOMContentLoaded", function () {
        var id;
        var formxoa = document.getElementById('formxoa');
        var btnxoa = document.getElementById('btnxoa')
        $('#xoadonhang').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            id = button.data('id');
        })
        btnxoa.onclick = function () {
            formxoa.action = '../quanly/donhang/xoadon/' + id + '?_method=delete';
            formxoa.submit();
        }

    })

    document.addEventListener('DOMContentLoaded', function(){
        var form_cao_nhat_trang_thai = $('.form_cap_nhat_trang_thao-modal');
        var modal_tat_trang_thai = $('.cap_nhat_trang_thao-modal--tat');
        var btn_cap_nhat_trang_thai = $('.cap_nhat_trang_thao');
        var btn_gui_cap_nhat_trang_thai = $('#btn_gui_cap_nhat_trang_thai');
        var modal_cap_nhat_trang_thai = $('.cap_nhat_trang_thao-modal');

        btn_cap_nhat_trang_thai.click(function(){
           $(this.nextElementSibling).removeClass('d-none')
        })
        modal_tat_trang_thai.click(function(){
            modal_cap_nhat_trang_thai.addClass('d-none')
       })
       btn_gui_cap_nhat_trang_thai.click(function(){
            modal_cap_nhat_trang_thai.addClass('d-none')
       })


    })
</script>