<nav class="navbar">
    <div class="navbar_search">
        <a href="/" class="navbar_logo">
            <img src="../../../images/logo.png" alt="">
            Looc Store
        </a>
        <form class="navbar_search-form" method="GET" action="./timkiemsanpham">
            <input type="text" class="navbar_search-form-input" placeholder="Bạn đang tìm gì... " name="tukhoatimkiem">
            <button type="submit" class="navbar_search-form-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            {{!-- Lịch sử tìm kiếm --}}
            <div class="navbar_search-form-history">
                <p class="navbar_search-form-history-title">
                    Lịch sử tìm kiém
                </p>
                <p class="navbar_search-form-history-item">
                   <a href="/dangnhap">iphone</a>
                </p>
            </div>
        </form>

        {{#if thongtintaikhoan}}
            <div class="sau_dang_nhap">
                <ui class="navbar_account">
                    <li class="navbar_account-item-user">
                        <img src="../../../images/{{thongtintaikhoan.anhkh}}{{thongtintaikhoan.anhnv}}" alt="" class="anhdaidien">
                        <p class="navbar_account-item-name">
                            {{thongtintaikhoan.tennv}}{{thongtintaikhoan.tenkh}}
                        </p>
                        <div class="dieu_huong_taikhoan">
                            <a href="/nguoidung/taikhoancuatoi" class="dieu_huong_taikhoan-ten">Tài khoản của tôi</a>
                            {{#if thongtintaikhoan.chucvu}}
                            <a href="/quanly" class="dieu_huong_taikhoan-ten">Quản lý</a>
                            {{/if}}
                            <a href="/nguoidung/donhang" class="dieu_huong_taikhoan-ten">Đơn mua</a>
                            <a href="/dangsuat" class="dieu_huong_taikhoan-ten">Đăng suất</a>
                        </div>
                    </li>
                    <li class="navbar_account-item-cart">
                        <i class="fa-solid fa-cart-shopping anhdaidien mt-1"></i>
                        <p class="navbar_account-item-name">
                            Giỏ hàng
                            {{#if thongtintaikhoan.soluongsptronggio}}
                            <div class="so_luong_sp"><p class="so_hien_thi">
                                {{thongtintaikhoan.soluongsptronggio}}
                            </p></div>
                            {{/if}}
                        </p>
                        {{#if thongtintaikhoan.giohangs}}
                        <div class="cart">
                            <p class="cart-ten">
                                Sản phẩm trong giỏ hàng
                            </p>
                            {{#each thongtintaikhoan.giohangs}}
                            <a href="/sanpham/{{this.masp}}" class="a_cart-item">
                            <div class="cart-item">
                                <img src="../images/anh_chi_tiet/{{this.hangsx}}/{{this.anh}}/{{this.anh}}.jpg" alt="" class="cart-item--img">
                                <div class="cart-item--info">
                                    <p class="cart-item--info-ten">
                                        {{this.tensp}}
                                    </p>
                                    <p class="cart-item--info-gia">
                                        <span class="gia_format">{{this.giaban}}</span> VND
                                    </p>
                                    <p class="cart-item--info-soluong">
                                        x{{this.soluongsp}}
                                    </p>
                                </div>
                            </div>
                            </a>
                            {{/each}}
                            <a href="/giohang" class="cart-btn">
                                <button type="button" class="btn btn-primary">Xem giỏ hàng</button>
                            </a>
                        </div>
                        {{/if}}
                    </li>
                </ui>
            </div>
        {{/if}}
       
       {{#unless thongtintaikhoan}}
            <div class="chua_dang_nhap">
                <a href="/dangnhap" class="dang_nhap">
                    Đăng nhập
                </a>
                <a href="/dangky" class="dang_ky">
                    Đăng ký
                </a>
            </div>
       {{/unless}}
       
    </div>
    <ui class="navbar_menu">
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=dien_thoai">
                <span class="navbar_menu-item-title">
                    Điện thoại
                </span> 
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Hãng sản xuất</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Apple"class="theo_muc-item">
                        <span >Apple</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Samsung"class="theo_muc-item">
                        <span >Samsung</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Oppo"class="theo_muc-item">
                        <span >Oppo</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Xiaomi"class="theo_muc-item">
                        <span >Xiaomi</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Realme"class="theo_muc-item">
                        <span >Realme</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Mức giá</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=duoi-3tr" class="theo_muc-item">
                        <span>Dưới 3 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=3tr-5tr" class="theo_muc-item">
                        <span>3 triệu - 5 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=5tr-8tr" class="theo_muc-item">
                        <span>5 triệu - 8 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=8tr-12tr" class="theo_muc-item">
                        <span>8 triệu - 12 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=tren-12tr" class="theo_muc-item">
                        <span>Từ 12 triệu +</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=may_tinh_bang">
                <span class="navbar_menu-item-title">
                    Máy tính bảng
                </span>
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Hãng sản xuất</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Apple" class="theo_muc-item">
                        <span>Apple</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Samsung" class="theo_muc-item">
                        <span>Samsung</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Oppo" class="theo_muc-item">
                        <span>Oppo</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Xiaomi" class="theo_muc-item">
                        <span>Xiaomi</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Realme" class="theo_muc-item">
                        <span>Realme</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Mức giá</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&&gia=duoi-3tr" class="theo_muc-item">
                        <span>Dưới 3 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=3tr-5tr" class="theo_muc-item">
                        <span>3 triệu - 5 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=5tr-8tr" class="theo_muc-item">
                        <span>5 triệu - 8 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=8tr-12tr" class="theo_muc-item">
                        <span>8 triệu - 12 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=tren-12tr" class="theo_muc-item">
                        <span>Từ 12 triệu +</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Màn hình</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&manhinh=5inch-8inch" class="theo_muc-item">
                        <span>5 inch - 8 inch</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&manhinh=8inch-11inch" class="theo_muc-item">
                        <span>8 inch - 11 inch</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&manhinh=tren-11inch" class="theo_muc-item">
                        <span>Từ 11 inch +</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=phu_kien">
                <span class="navbar_menu-item-title">
                    Phụ kiện
                </span>
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Các sản phẩm phụ kiện</p>
                    <a href="/sanpham/danhmuc?loai=phu_kien&loaipk=tai_nghe" class="theo_muc-item">
                        <span>Tai nghe</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=phu_kien&loaipk=chuot" class="theo_muc-item">
                        <span>Chuột</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=phu_kien&loaipk=ban_phim" class="theo_muc-item">
                        <span>Bàn phím</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=phu_kien&loaipk=op_lung" class="theo_muc-item">
                        <span>Ốp lưng</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=phu_kien&loaipk=sac_du_phong" class="theo_muc-item">
                        <span>Sạc dự phòng</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
        <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=dien_thoai_cu">
            <span class="navbar_menu-item-title">
                Điện thoại cũ
            </span>
        </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Hãng sản xuất</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&hangsx=Apple" class="theo_muc-item">
                        <span>Apple</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&hangsx=Samsung" class="theo_muc-item">
                        <span>Samsung</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&hangsx=Oppo" class="theo_muc-item">
                        <span>Oppo</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&hangsx=Xiaomi" class="theo_muc-item">
                        <span>Xiaomi</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&hangsx=Realme" class="theo_muc-item">
                        <span>Realme</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Mức giá</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&gia=duoi-3tr" class="theo_muc-item">
                        <span>Dưới 3 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&gia=3tr-5tr" class="theo_muc-item">
                        <span>3 triệu - 5 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&gia=5tr-8tr" class="theo_muc-item">
                        <span>5 triệu - 8 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&gia=8tr-12tr" class="theo_muc-item">
                        <span>8 triệu - 12 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&gia=tren-12tr" class="theo_muc-item">
                        <span>Từ 12 triệu +</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Tình trạng máy</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&tinhtrang=95" class="theo_muc-item">
                        <span>95%</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai_cu&tinhtrang=99" class="theo_muc-item">
                        <span>99%</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=may_tinh_bang_cu">
                <span class="navbar_menu-item-title">
                    Máy tính bảng cũ
                </span>
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Hãng sản xuất</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&hangsx=Apple" class="theo_muc-item">
                        <span>Apple</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&hangsx=Samsung" class="theo_muc-item">
                        <span>Samsung</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&hangsx=Oppo" class="theo_muc-item">
                        <span>Oppo</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&hangsx=Xiaomi" class="theo_muc-item">
                        <span>Xiaomi</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&hangsx=Realme" class="theo_muc-item">
                        <span>Realme</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Mức giá</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&&gia=duoi-3tr" class="theo_muc-item">
                        <span>Dưới 3 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&gia=3tr-5tr" class="theo_muc-item">
                        <span>3 triệu - 5 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&gia=5tr-8tr" class="theo_muc-item">
                        <span>5 triệu - 8 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&gia=8tr-12tr" class="theo_muc-item">
                        <span>8 triệu - 12 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&gia=tren-12tr" class="theo_muc-item">
                        <span>Từ 12 triệu +</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Màn hình</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&manhinh=5inch-8inch" class="theo_muc-item">
                        <span>5 inch - 8 inch</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&manhinh=8inch-11inch" class="theo_muc-item">
                        <span>8 inch - 11 inch</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&manhinh=tren-11inch" class="theo_muc-item">
                        <span>Từ 11 inch +</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Tình trạng máy</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&tinhtrang=95" class="theo_muc-item">
                        <span>95%</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang_cu&tinhtrang=99" class="theo_muc-item">
                        <span>99%</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="">
                <span class="navbar_menu-item-title">
                    khuyến mãi
                </span>
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <a href="" class="theo_muc-item">
                        <span>Tất cả chương trình khuyến mãi</span>
                    </a>
                </div>
            </div>
        </li>
    </ui>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function(){
    })  
</script>