<nav class="navbar">
    <div class="navbar_search">
        <a href="/" class="navbar_logo">
            <img src="../../../images/logo.png" alt="">
            Looc Store
        </a>
        <form class="navbar_search-form" id="navbar_search-form" method="GET" action="./timkiemsanpham">
            <input type="text" autocomplete="off" class="navbar_search-form-input" placeholder="Bạn đang tìm gì... " name="tukhoatimkiem">
            <button type="button" class="btn-micro "> <span id="btn-micro-active" class=""></span><i class="fa-solid fa-microphone"></i></button>
            <button type="submit" id="navbar_search-form-btn" class="navbar_search-form-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            {{!-- Lịch sử tìm kiếm --}}
            <div class="navbar_search-form-history">
                <div class="navbar_search-form-history-title">
                    <span>Lịch sử tìm kiém</span>
                    <a class="" data-bs-toggle="modal" data-bs-target="#xoa_lich_su" data-bs-delay="500">
                        Xoá lịch sử
                    </a>
                </div>
                {{#each thongtintaikhoan.lichsutimkiem}}
                <p class="navbar_search-form-history-item">
                    <a href="../timkiemsanpham?tukhoatimkiem={{this.noidungtimkiem}}">{{this.noidungtimkiem}}</a>
                </p>
                {{/each}}
            </div>
        </form>

        {{#if thongtintaikhoan}}
            <div class="sau_dang_nhap">
                <ui class="navbar_account">
                    <li class="navbar_account-item-user">
                        <img src="../../../images/{{thongtintaikhoan.anhkh}}{{thongtintaikhoan.anhnv}}" alt="" class="anhdaidien">
                        <p class="navbar_account-item-name">
                            {{thongtintaikhoan.tennv}}{{thongtintaikhoan.tenkh}}
                        </p>
                        <div class="dieu_huong_taikhoan">
                            <a href="/nguoidung/taikhoancuatoi" class="dieu_huong_taikhoan-ten">Tài khoản của tôi</a>
                            {{#if thongtintaikhoan.chucvu}}
                            <a href="/quanly" class="dieu_huong_taikhoan-ten">Quản lý</a>
                            {{/if}}
                            <a href="/nguoidung/donhang" class="dieu_huong_taikhoan-ten">Đơn mua</a>
                            <a href="/dangsuat" class="dieu_huong_taikhoan-ten">Đăng suất</a>
                        </div>
                    </li>
                    <li class="navbar_account-item-cart">
                        <i class="fa-solid fa-cart-shopping anhdaidien mt-1"></i>
                        <p class="navbar_account-item-name">
                            Giỏ hàng
                            {{#if thongtintaikhoan.soluongsptronggio}}
                            <div class="so_luong_sp"><p class="so_hien_thi">
                                {{thongtintaikhoan.soluongsptronggio}}
                            </p></div>
                            {{/if}}
                        </p>
                        {{#if thongtintaikhoan.giohangs}}
                        <div class="cart">
                            <p class="cart-ten">
                                Sản phẩm trong giỏ hàng
                            </p>
                            {{#each thongtintaikhoan.giohangs}}
                            <a href="/sanpham/{{this.masp}}" class="a_cart-item">
                            <div class="cart-item">
                                <img src="../images/anh_chi_tiet/{{this.hangsx}}/{{this.anh}}/{{this.anh}}.jpg" alt="" class="cart-item--img">
                                <div class="cart-item--info">
                                    <p class="cart-item--info-ten">
                                        {{this.tensp}}
                                    </p>
                                    <p class="cart-item--info-gia">
                                        <span class="gia_format">{{this.giaban}}</span> VND
                                    </p>
                                    <p class="cart-item--info-soluong">
                                        x{{this.soluongsp}}
                                    </p>
                                </div>
                            </div>
                            </a>
                            {{/each}}
                            <a href="/giohang" class="cart-btn">
                                <button type="button" class="btn btn-primary">Xem giỏ hàng</button>
                            </a>
                        </div>
                        {{/if}}
                    </li>
                </ui>
            </div>
        {{/if}}
       
       {{#unless thongtintaikhoan}}
            <div class="chua_dang_nhap">
                <a href="/dangnhap" class="dang_nhap">
                    Đăng nhập
                </a>
                <a href="/dangky" class="dang_ky">
                    Đăng ký
                </a>
            </div>
       {{/unless}}
       
    </div>
    <ui class="navbar_menu">
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=dien_thoai">
                <span class="navbar_menu-item-title">
                    Điện thoại
                </span> 
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Hãng sản xuất</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Apple"class="theo_muc-item">
                        <span >Apple</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Samsung"class="theo_muc-item">
                        <span >Samsung</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Oppo"class="theo_muc-item">
                        <span >Oppo</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Xiaomi"class="theo_muc-item">
                        <span >Xiaomi</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&hangsx=Realme"class="theo_muc-item">
                        <span >Realme</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Mức giá</p>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=duoi-3tr" class="theo_muc-item">
                        <span>Dưới 3 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=3tr-5tr" class="theo_muc-item">
                        <span>3 triệu - 5 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=5tr-8tr" class="theo_muc-item">
                        <span>5 triệu - 8 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=8tr-12tr" class="theo_muc-item">
                        <span>8 triệu - 12 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=dien_thoai&gia=tren-12tr" class="theo_muc-item">
                        <span>Từ 12 triệu +</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=may_tinh_bang">
                <span class="navbar_menu-item-title">
                    Máy tính bảng
                </span>
            </a>
            <div class="navbar_menu-item-wrap">
                <div class="theo_muc">
                    <p class="theo_muc-title">Hãng sản xuất</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Apple" class="theo_muc-item">
                        <span>Apple</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Samsung" class="theo_muc-item">
                        <span>Samsung</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Oppo" class="theo_muc-item">
                        <span>Oppo</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Xiaomi" class="theo_muc-item">
                        <span>Xiaomi</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Asus" class="theo_muc-item">
                        <span>Asus</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Realme" class="theo_muc-item">
                        <span>Realme</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Mobell" class="theo_muc-item">
                        <span>Mobell</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=itel" class="theo_muc-item">
                        <span>itel</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&hangsx=Vivo" class="theo_muc-item">
                        <span>Vivo</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Mức giá</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&&gia=duoi-3tr" class="theo_muc-item">
                        <span>Dưới 3 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=3tr-5tr" class="theo_muc-item">
                        <span>3 triệu - 5 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=5tr-8tr" class="theo_muc-item">
                        <span>5 triệu - 8 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=8tr-12tr" class="theo_muc-item">
                        <span>8 triệu - 12 triệu</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&gia=tren-12tr" class="theo_muc-item">
                        <span>Từ 12 triệu +</span>
                    </a>
                </div>
                <div class="theo_muc">
                    <p class="theo_muc-title">Màn hình</p>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&manhinh=5inch-8inch" class="theo_muc-item">
                        <span>5 inch - 8 inch</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&manhinh=8inch-11inch" class="theo_muc-item">
                        <span>8 inch - 11 inch</span>
                    </a>
                    <a href="/sanpham/danhmuc?loai=may_tinh_bang&manhinh=tren-11inch" class="theo_muc-item">
                        <span>Từ 11 inch +</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=tai_nghe">
                <span class="navbar_menu-item-title">
                    Tai nghe
                </span>
            </a>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=chuot">
                <span class="navbar_menu-item-title">
                    Chuột máy tính
                </span>
            </a>            
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=ban_phim">
                <span class="navbar_menu-item-title">
                    Bàn phím máy tính
                </span>
            </a>
        </li>
        <li class="navbar_menu-item">
            <a class="nav_xem_sp_all" href="/sanpham/danhmuc?loai=op_lung">
                <span class="navbar_menu-item-title">
                    Ốp lưng 
                </span>
            </a>
        </li>
    </ui>
</nav>

{{!-- Modal xac nhan xoa --}}

<div class="modal" tabindex="-1" id="xoa_lich_su" >
    <div class="modal-dialog" >
        <form action="/xoalichsu" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá lịch sử</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xoá lịch sử tìm kiếm ?</p>
                <input type="text" name="khachhang" value="{{thongtintaikhoan.makh}}" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-danger">Xoá</button>
            </div>
        </form>
    </div>
</div>
<script>    


    class SpeechRecognitionApi {//Chuyen giong noi thanh van ban 
            constructor(options) {
                const SpeechToText = window.speechRecognition || window.webkitSpeechRecognition;
                this.speechApi = new SpeechToText();
                this.speechApi.continuous = true;
                this.speechApi.interimResults = false;
                this.output = options.output ? options.output : document.createElement('div');
                //console.log(this.output)
                this.speechApi.onresult = (event) => {
                    //console.log(event);
                    var resultIndex = event.resultIndex;
                    var transcript = event.results[resultIndex][0].transcript;

                    //console.log('transcript>>', transcript);
                   // console.log(this.output)
                    this.output.value = transcript;


                }
            }
            init() {
                this.speechApi.start();
            }
            stop() {
                this.speechApi.stop();
            }
        }

        window.onload = function () {
            var speech = new SpeechRecognitionApi({
                output: document.querySelector('.navbar_search-form-input')
            })

            document.querySelector('.btn-micro').addEventListener('mousedown', function () {
                document.getElementById('btn-micro-active').classList.add('btn-micro-active')
                speech.init()
            })

            document.querySelector('.btn-micro').addEventListener('mouseup', function () {
                speech.stop()
                var formserch = document.getElementById('navbar_search-form');
                setTimeout(()=>{
                    formserch.submit()
                },1000)
            })
        }
</script>